.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
docs
src/*.o
src/*.so
tests/testthat/Rplots.pdf
tests/testthat/_problems/
tests/testthat/testthat-problems.rds
nethist.Rproj
nethist_devel.Rproj
data/arxiv
inst/doc
/doc/
/Meta/
.claude/
.positai
internal/
nethist_1.0.0.tar.gz
nethist.Rcheck
README.html